//Aside

/*Aside*/

aside {
  background-color: #F1F1F1;
  width: 100%;
  margin-top: 0;
}

/**Inicio de sesión**/
#questions {
  padding: 0;
  li {
    list-style: none;
  }
}

#formIngreso {
  margin: 20px;
}

/*Aside*/

