//Buttons

/*Buttons*/

.btn {
  margin-top: 4px;
  padding-right: 10px;
  padding-top: 5px;
}

/**btn-primary**/
.btn-primary {
  transition: 0.5s all;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.btn-primary:hover {
  background-color: #fff;
  color: #3DCCC2;
}

/**Action buttons**/

#botonElimina {
  font-size: 17px;
  &:hover {
    color: #85144b;
  }
}

#botonEdita:hover {
  color: #093242
}


/*Buttons*/