//Error pages

/**Error pages**/
#error-page {
  background: #3c3c3c;
}

.eyes {
  display: block;
  margin: auto;
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-45%);
}

.dynamic-height {
  height: 90vh;
}

.error-text {
  font-size:22.3px;
  color: #797979;
  margin-top: 30px;
}

.link {
  text-decoration: none;
  color: #11a69c;
  display: block;
}

.content {
  display: table;
  margin: 0 auto;
}



