//Global styles//

/*Global styles*/

html {
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  position: relative;
  min-height: 100%;
  margin: 0;
  padding-bottom: 6rem;
}

label h2 {
  padding-bottom: 0;
  margin-top: 5px;
}

center {
  width: 100%;
  padding: 30px;
}

/*Global styles*/
