//Main container

/*Main container*/

#main {
  margin: 20px;
  padding-left: 1.25%;
  padding-right: 1.25%;
  padding-bottom: 2%;
}

/**Right container**/

#right-container {
  padding-top: 4px;
  padding-bottom: 30px;
  background-color: white;
  border: 1px solid #ddd;

  p {
    margin-top: 10px;
    padding: 4px;
  }
}

/**Home paragraph**/
#home-paragraph {
  padding: 0 15px 0 15px;
}

/*Main container*/