//Panels//

/*Panels*/

.panel-default {
  .panel-heading {
    border-top: 1px solid #e7e7e7;

    .panel-title {
      i {
        padding-right: 10px;
      }
    }
    & + .panel-collapse {
      .panel-body {
        background-color: #eee;
        &:hover {
          background-color: #ddd;
          transition: 0.7s all;
          padding-left: 10px;
        }
        &:before {
          transition: 0.9s all;
          padding-left: 0;
        }
      }

      form {
        .panel-body {
          background-color: #eee;
          &:hover {
            background-color: #ddd;
            transition: 0.7s all;
            padding-left: 10px;
          }
          &:before {
            transition: 0.9s all;
            padding-left: 0;
          }
        }
      }
    }
  }

  .panel-heading.active {
    background-color: #093242;
    color: #fff;
  }

  .panel-collapse {
    .panel-body.active {
      background-color: #3DCCC2;
      border: 1px solid transparent;
      a {
        color: #fff;
      }
      &:hover {
        padding-left: 10px;
        background-color: #3DCCC2;
        color: #fff;
      }
    }

    form {
      .panel-body.active {
        background-color: #3DCCC2;
        border: 1px solid transparent;
        a {
          color: #fff;
        }
        &:hover {
          padding-left: 10px;
          background-color: #3DCCC2;
          color: #fff;
        }
      }
    }
  }
}

/*Panels*/

