//Tables//

/*Tables*/

/**Table body**/
.fixed-table-body {
  padding: 15px;
}

/**Table data**/
td[rowspan] {
  vertical-align: middle !important;
}

/**Table head**/
thead {
  background-color: #093242;
  color: #fff;
}

td i {
  padding-right: 10px;
}

/*Tables*/