//Typography//

/*Typography*/

/**Headings**/
h1 {
  text-align: center;
  margin: 20px;
  color: #333;
  font-size: 25px;
  font-weight: bold;
}

h2 {
  text-align: left;
  font-size: 16px;
  padding-bottom: 20px;
}

h3 {
  margin: 20px;
  color: #000;
  padding-bottom: 10px;
  border-bottom: 1px solid #e8e8e8;
  font-size: 16px;
}

h5 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
  color: #333;
  font-size: 16px;
}

/**Links**/
a {
  text-decoration: none !important;
  color: #093242;
  font-weight: 500;
}

/*Typography*/