/*Ubuntu Light*/
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Ubuntu-L.ttf')
}

/*Ubuntu Regular*/
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Ubuntu-R.ttf')
}

/*Ubuntu Medium*/
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Ubuntu-M.ttf')
}

/*Ubuntu Bold*/
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Ubuntu-B.ttf')
}